{% extends 'base.html' %}
{#{% block login %}{% endblock %}#}
{% block content %}
    <div class="container">
        <h1>Enter new account password</h1>
        <form method="post" action="/reset-password/{{ path }}/">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">New Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password"
                           placeholder="enter new password"
                           maxlength="32" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="confirmpassword">Confirm New Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="confirmpassword" id="confirmpassword"
                           placeholder="re-enter email"
                           maxlength="32" required/>
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-10">
                <input type="submit" class="btn" name="reset" id="reset"
                       value="Set new password" disabled=true">
            </div>
        </form>
        <p>{{ error_msg }}</p>
    </div>

    <div class="container">
        <div id="password_message">
            <h3>Password must contain the following:</h3>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="specialChar" class="invalid">A <b>Special character</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            <p id="password_match" class="invalid">passwords <b>match</b></p>
            <p id="substring" class="valid">password cannot contain <b>name or username</b></p>
        </div>
    </div>

    <script>
        var passwordInput = document.getElementById("password");
        var passwordConfirm = document.getElementById("confirmpassword");

        //password checklist indicators
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        var match = document.getElementById("password_match");
        var substring = document.getElementById("substring");
        var special_char = document.getElementById("specialChar");

        //name/username substrings from account (flask)
        var name = "{{ substring_name|safe }}";
        var username = "{{ substring_username|safe }}";

        //testing
        // alert("name: " + name + "\n" + "username: " + username);

        //when password forms change: check if all validations are complete
        passwordInput.onkeyup = checkValidated;
        passwordConfirm.onkeyup = checkValidated;

        // When the user clicks on the password field or confirm password field: show the password_message box
        //hide message box when clicked off
        passwordInput.onfocus = function () {
            document.getElementById("password_message").style.display = "block";
        }

        passwordInput.onblur = function () {
            document.getElementById("password_message").style.display = "none";
        }

        passwordConfirm.onfocus = function () {
            document.getElementById("password_message").style.display = "block";
        }

        passwordConfirm.onblur = function () {
            document.getElementById("password_message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        function checkValidated() {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if (passwordInput.value.match(lowerCaseLetters)) {
                {#alert("letter class: " + letter.className)#}
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }


            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if (passwordInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }


            // Validate numbers
            var numbers = /[0-9]/g;
            if (passwordInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }


            //validate special characters
            var special = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;
            if (passwordInput.value.match(special)) {
                special_char.classList.remove("invalid");
                special_char.classList.add("valid");
            } else {
                special_char.classList.remove("valid");
                special_char.classList.add("invalid");
            }


            // Validate length
            if (passwordInput.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }


            //validate match
            if (passwordInput.value == passwordConfirm.value) {
                match.classList.remove("invalid");
                match.classList.add("valid");
            } else {
                match.classList.remove("valid");
                match.classList.add("invalid");
            }

            //check for name/surname/username substrings in password
            if (passwordInput.value.indexOf(name) !== -1 |
                passwordInput.value.indexOf(username) !== -1) {
                substring.classList.remove("valid");
                substring.classList.add("invalid");
                //testing
                {#alert("name match");#}
            } else {
                substring.classList.remove("invalid");
                substring.classList.add("valid");
            }

            //check class of each validation check (valid/invalid)
            //AND password and confirmation match
            if (letter.className == "valid" &&
                capital.className == "valid" &&
                number.className == "valid" &&
                length.className == "valid" &&
                match.className == "valid" &&
                substring.className == "valid" &&
                special_char.className == "valid") {
                {#alert("valid");#}
                document.getElementById("reset").disabled = false;
                document.getElementById("reset").classList.add("btn btn-success");
                document.getElementById("password_message").style.backgroundColor = "#90ee90";

                //testing:
                {#alert("validate true");#}
            } else {
                document.getElementById("reset").disabled = true;
                document.getElementById("password_message").style.backgroundColor = "#f1f1f1";
                //testing
                //  alert("validate false");
            }
        }

    </script>
{% endblock %}
